html, body {
	height: 100%;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial;
}

h1 {
	animation: typing-text 2s steps(24), blink 0.5s infinite alternate;
	overflow: hidden;
	white-space: nowrap;

	border-right: 3px solid #000;
}

@keyframes typing-text {
	from {
		width: 0;
	}
	to {
		width:24ch;
	}
}

@keyframes blink {
	from {
		border-color: transparent;
	}
	to { 
		border-color: #000;
	}
}